---
import Layout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import SectionTitle from '../../components/SectionTitle';

const posts = (await getCollection('blog')).sort((a, b) => {
  if (a.data.pubDate && b.data.pubDate) {
    return a.data.pubDate.valueOf() - b.data.pubDate.valueOf();
  }
  return 0;
});
---

<Layout
  title="Blog"
  description="List of blog posts written by me (Thanaphoom Babparn)"
>
  <SectionTitle title="This page under construction ðŸ—ï¸ðŸ‘·" />
  <!-- <section>
    <ul>
      {
        projects.map((project) => (
          <li>
            {project.data.pubDate && (
              <FormattedDate date={new Date(project.data.pubDate)} />
            )}
            <a href={`/project/${project.slug}/`}>{project.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section> -->
</Layout>
