---
import CompetitionsList from '../components/competition/CompetitionsList';
import OverseaList from '../components/oversea/OverseaList';
import SpeakerList from '../components/speakers/SpeakerList';

import Layout from '../layouts/BaseLayout.astro';
import activities from '../data/activities.json';
import volunteers from '../data/volunteers.json';

import {
  Competition,
  Oversea,
  Speaker,
  Volunteer,
  VolunteerItem,
} from '../data/props';
import VolunteerList from '../components/volunteers/VolunteerList';

const competitions: Competition[] = activities.competitions;
const overseas: Oversea[] = activities.overseas;
const speaker: Speaker[] = activities.speaker;
const pinVolunteer: null | Volunteer = volunteers.pin;
let volunteerItems: VolunteerItem[] = volunteers.items;
if (pinVolunteer) {
  volunteerItems = [pinVolunteer, ...volunteerItems];
}
---

<Layout
  title="Activity"
  description="Activities that I have attended in the past"
>
  <div class="flex flex-col justify-around">
    <CompetitionsList competitions={competitions} />
    <div class="border-b-2 border-gray-400 my-8"></div>
    <OverseaList data={overseas} />
    <div class="border-b-2 border-gray-400 my-8"></div>
    <SpeakerList data={speaker} />
    <div class="border-b-2 border-gray-400 my-8"></div>
    <VolunteerList data={volunteerItems} />
  </div>
</Layout>
