---
import Layout from '../layouts/BaseLayout.astro';
import SectionTitle from '../components/SectionTitle';

import ContactList from '../components/contact/ContactList';
import { CONTACT_LIST } from '../data/contact';
---

<Layout
  title="Contact"
  description="Thanaphoom Babparn list of possible contact"
>
  <SectionTitle title="Contact Me" />
  <div class="flex flex-col justify-center items-center">
    <div class="flex flex-col justify-center items-center">
      <!-- Image on the left -->
      <div class="w-full flex justify-center mb-6">
        <img
          src="/assets/images/contact-me.webp"
          alt="Profile"
          class="w-full md:w-6/12 h-full object-cover rounded-lg shadow-md"
        />
      </div>

      <!-- List of contacts on the right -->
      <div
        class="w-full flex flex-col items-center mt-8"
      >
        <ContactList contacts={CONTACT_LIST} />
      </div>
    </div>
  </div>
</Layout>

