---
import Layout from '../layouts/BaseLayout.astro';
import SectionTitle from '../components/SectionTitle';
import courses from '../data/courses.json';
import CourseTypeSection from '../components/course/CourseTypeSection';

const keys = Object.keys(courses);
---

<Layout
  title="Courses"
  description="Free courses and tutorials from Thanaphoom Babparn."
>
  <SectionTitle title="Free Video & Text based courses" />
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      keys.map((k) => (
        <CourseTypeSection title={courses[k].title} data={courses[k].courses} />
      ))
    }
  </div>
</Layout>
